.container{
    display:block;
    margin:auto;
    width:350px;
    height:590px;
    border:8px solid;
    border-radius: 12px;
    background-color: grey;
    box-shadow: 9px 9px 15px ;
}
.inputcontainer{
    margin:18px;
}
.inputcontainer input{
    width:300px;
    height:60px;
    border:4px solid;
    background-color: rgba(222, 211, 211, 0.647);
    border-radius: 12px;
    font-size: xx-large;
    box-shadow: 2px 2px 5px;
}
.opcontainer{
    display :flex;
    justify-content: space-between;
    margin:20px;
}
.opcontainer button{
    width:150px;
    height:40px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.363);
    color:white;
    font-size: xx-large;
    box-shadow: 2px 2px 5px;
}
.numcontainer{
    display:flex;
    flex-direction: column;
}
.box{
    display: flex;
    justify-content: space-between;
    margin:20px;
}
.box button{
    width:60px;
    height: 60px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.363);
    color:white;
    font-size: xx-large;
    box-shadow: 2px 2px 5px;
}
.box button:hover{
    background-color: white;
    color:grey;
}
.opcontainer button:hover{
    background-color: white;
    color:grey;
}
